<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js">
    </script>
    <script>
        $(document).ready(function () {
            getData();
            window.dataPoints = [];
            function renderData() {
                var filteredData = window.data.filter(x => x.Name == 'Test')[0].Results;
                $.each(filteredData, function (key, value) {
                    window.dataPoints.push({ x: value.BuildNumber, y: parseInt(value.Ticks) });
                });
                createChart();
            }

            function getData() {
                $.getJSON("../Data/Logs.json", function (json) {
                    window.data = json;
                    renderData();
                });
            }

            function createChart() {
                var ctx = document.getElementById("myChart");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                            data: window.dataPoints,
                            label: 'Test'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });
    </script>
</head>
<body>
    <canvas id="myChart" width="400" height="400"></canvas>
</body>
</html>